.head {
	color: white;
	background: url(https://i-s2.328888.xyz/2022/06/30/62bda9e9ed6f3.jpg);
	width: auto;
	height: 300px;
}
.body {
	background: linear-gradient(to right, #0083fe, #00fff0);
	font-size: 15px;
	color: lightpink;
	border: 3px solid;
	padding: 7px 7px 7px 7px;
}
* {
	margin: 0;
}
